<!DOCTYPE html>
<html>
    <head>
        <title>HearMe Signin</title>
        <meta charset="utf-8">
        <!-- style file -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/css/style.css' />
              
        <!-- script file -->
        <script src="/libs/jquery/dist/jquery.min.js"></script>

    </head>
    <body class="container">
        <%- body %>
        <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
