<!DOCTYPE html>
<html>
    <head>
        <title>Welcome HearMe</title>
        <meta charset="utf-8">
        <!-- style file -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/css/style.css' />
              
        <!-- script file -->
        <script src="/libs/jquery/dist/jquery.min.js"></script>

    </head>
    <body class="container">
        <header>
            <div class="logo">
                <a href="/"><h1>HearMe</h1></a>
            </div>
            <nav>
                <a href="#services" >Blog</a>
                <span>|</span>
                <a href="#services" >Record</a>
                <span>|</span>
                <a href="#services" >Word</a>
                <span>|</span>
                <a href="#services" >Photo</a>
                <span>|</span>
                <a href="#services" >Note</a>
            </nav>
        </header>
        <div class="page-divider"></div>
        <%- body %>
        <footer>
            <hr>
            <div>
                <p>Power by koonkai</p>
            </div>
        </footer>
        <!-- // <script src="/socket.io/socket.io.js"></script> -->
        <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- // <script src="/libs/react/react.min.js"></script> -->
        <!-- // <script src="/libs/react-router/build/umd/ReactRouter.min.js"></script> -->
        <!-- // <script src="/libs/flux/dist/Flux.js"></script> -->
        <!-- // <script src="/libs/react/JSXTransformer.js"></script> -->

    </body>
</html>
