<!DOCTYPE html>
<html>
  <head>
    <title>Welcome HearMe</title>
    <meta charset="utf-8">
    <!-- style file -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
          
    <!-- script file -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>

  </head>
  <body class="container">
    <div id="main"></div>
    <footer>
      <p>@2015 <a href="mailto:koon.kaip@gmail.com">koonkai</a></p>
      <p>Power By Node.js & React</p>
      <p><a href="/admin/signin">Admin</a></p>
    </footer>
    <script src="/build/common.js"></script>
    <script src="/build/bundle.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>




