<!DOCTYPE html>
<html>
    <head>
        <title>Welcome HearMe</title>
        <meta charset="utf-8">
        <!-- style file -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/css/style.css' />
              
        <!-- script file -->
        <script src="/build/common.js"></script>
        <script src="/libs/jquery/dist/jquery.min.js"></script>

    </head>
    <body class="container">
        
        <div id="main"></div>
        <footer>
            <div class="footer">
                <p>@2015 <a href="mailto:koon.kaip@gmail.com">koonkai</a></p>
                <p>Power By Node.js & React</p>
                <p><a href="/signin">Admin</a></p>
            </div>
        </footer>

        <script src="/build/bundle.js"></script>
        <!-- <script type="text/jsx;harmony=true" src="js/index.js"></script> -->
        <!-- // <script src="/socket.io/socket.io.js"></script> -->
        <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>




