<!DOCTYPE html>
<html>
  <head>
    <title>HearMe Admin</title>
    <meta charset="utf-8">
    <!-- style file -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
          
    <!-- script file -->

    <link rel='stylesheet' href='/css/style.css' />
    <script src="/libs/jquery/dist/jquery.min.js"></script>

  </head>
  <body>
    <div id="signin"></div>
    <script src="/build/common.js"></script>
    <script src="/build/signin.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>




