@charset "UTF-8";
/*-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Avenir Next',Avenir,'Helvetica Neue',Helvetica,'Lantinghei SC','Hiragino Sans GB','Microsoft YaHei',"微软雅黑",STHeiti,'WenQuanYi Micro Hei',SimSun,sans-serif;
	/*font-family: roboto,'Hiragino Sans GB','Microsoft YaHei',微软雅黑,STHeiti,'WenQuanYi Micro Hei',Helvetica,Arial,sans-serif;*/
	/*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family: "Open Sans","Helvetica Neue",Arial,sans-serif !important;*/
	font-size: 14px;
    line-height: 20px;
    color: #333333;
}


.container {
	max-width: 960px;
	padding: 0 60px;
}


header, footer, section, article {
    display: block;
}

.page-divider {
    /*border-bottom: 1px solid #eee;*/
}

/* header style setting */
header {
    text-align: center;
}

header .logo {
    margin: 38px 0;
}

header .logo a {
    text-decoration: none;
}

header .logo h1 {
    font-family: 'FuturaStdMediumTrItalic';
    font-size: 34px;
    font-weight: normal;
    line-height: 38px;
    color: #DBD4D4;
}

header nav {
    margin-bottom: 10px;
    display: inline-block;
    color: #dde1e4;
}

header nav a {
    float: left;
    display: block;
    margin: 0 10px 0 10px;
    font-size: 16px;
    /*color: #373737;*/
    /*font-family: 'FuturaStdBookTrRegular';*/
    text-decoration: none;
    color: #aaa;
    
}

header nav span {
    float: left;
    display: block;
    font-family: 'FuturaStdLightTrRegular';
    font-size: 24px;
}


/* header style end */

/* Add post style */
#add-post {
    margin-top: 20px;
}

#add-post form {
    padding: 0 10px;
}
/* new style end*/

/* footer style setting */
footer { 
    margin: 50px auto;
}

.footer a {
    text-decoration: none;
}
/* footer style end */


/* signin style setting */
.signin-box {

	width: 384px;
	margin: 100px auto;
	box-shadow: 0 0 5px 0 rgb(238, 238, 238);
	border: 1px solid #DFDFDF;
	background: #fff;
	padding: 35px 0 30px;
}

.signin-box .box {
	margin: 0 auto;
	width: 77%;
}

.signin-box .box .name {
	text-align: center;
	margin: 0 0 40px 0;
}

.signin-box .box .name span {
	font-size: 28px;
	font-weight: bold;
    font-family: 'FuturaStdLightTrRegular';
    color: #DBD4D4;
}

.signin-box .box .division {
	margin: 0 auto 18px;
	float: none;
	overflow: hidden;
	width: 100%;
	position: relative;
	text-align: center;
}


.signin-box .box .division .line {
	border: 1px solid #DFDFDF;
	width: 34%;
	top: 10px;
	position: absolute; 
}

.signin-box .box .division .line.l {
	left: 0;
}

.signin-box .box .division .line.r {
	right: 0;
}

.signin-box .box .division span {
	font-size: 17px;
	color: rgb(66, 66, 66);
	/*font-weight: bold;*/
}

.signin-box .box form {
	margin: 20px 0 20px 0;
}

.signin-box .box form input[type="email"],
.signin-box .box form input[type="text"],
.signin-box .box form input[type="password"]{
	height: 37px;
}

.signin-box .box form .checkbox {
	display: inline-block;
}

.signin-box .box form .forget {
	/*text-decoration: none;*/
	color: #959595;
	float: right;
	font-size: 14px;
}

.signin-box .box form .w120{
	width: 120px;
}

/* signin style end */

.upload .image-url{
    margin-top:20px;
    white-space: pre-line;
    word-wrap: break-word;
}

.post-list {
    margin-top: 50px;
    /*padding: 0 30px;*/
}

.post-list .post-title a {
    /*text-decoration: none;*/
    color: #444;
    /*font-family: normal;*/
}


.post-list .post .post-date {
    color: #999;
    margin: 5px 0 ;
}

.post-list .post {
    margin: 30px 0;
    border-bottom: 1px #eee dashed;

}

.post-list .post .post-title {
    font-size: 20px;
    margin-bottom: 10px;
}

#post {
    margin-top: 60px;
    /*padding: 20px;*/
}

#post hr {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px #eee dashed;
}

#post .post-title span {
    font-size: 22px;
}

#post .post-date {
    margin-top: 10px;
    color: #999;
}

#post .post-content {
    line-height: 27px;
    font-size: 15px;
    margin-bottom: 50px;
}

.loading {
    text-align: center;
    margin: 50px auto;
}

.loading img {
    width: 32px !important;
    height: 32px !important;
}

.footer {
    margin-top: 100px;
    text-align: center;
}